*{
    font-family: Baloo Bhai, Microsoft JhengHei;
    -webkit-user-select: none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
}
.textarea{
    width: 95%;
    height: 300px;
    margin: 10px 0 0 0;
}
.nickName{
    margin: 0 5px;
}
.textInput{
    margin: 0 5px;
}
.sendBtn{
    margin: 0 5px;
}