*{
    box-sizing: border-box;
    font-family: Baloo Bhai;
    -webkit-user-select: none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
}
.App{
    width: 270px;
    height: 270px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 33.3333%;
    height: 33.3333%;
    border: 2px solid rgb(100, 100, 100);
    text-align: center;
    line-height:100px;
    font-size: 100px;
}
.player{
    color: rgb(100, 100, 100);
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    padding: 10px;
}
.ResetButton{
    border: 1px solid rgb(255, 255, 255);
    background-color: cornflowerblue;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 20px calc(50% - 75px);
    font-size: 24px;
    letter-spacing: 2px;
}