*{
    font-family: Baloo Bhai, Microsoft JhengHei;
    -webkit-user-select: none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
}
.rankBar{
    background-color: #6495ed;
    color: white;
    padding: 10px 27px;
    border-radius: 22px;
    max-width:400px;
    margin: 20px auto;
}
.cardText{
    margin: 0px;
}